@use "../general-styles/colors" as clr;
@use "../general-styles/typography" as type;

.sec-mini-title {
  font-size: type.fs(sc);
  color: clr.clrs(clr-white);
  background-color: clr.clrs(clr-primary);
  padding: 0.25rem 0.5rem;

  align-self: flex-start;
}
